<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    
        <div class="col-md-4">
            <h6 style="color: #FFFFFF80;"><b>Fast Food Exp</b> &reg;</h6>
            <p style="color: #FFFFFF80;">13A/C Trade Market Road</p>
            <p style="color: #FFFFFF80;">Newyork,NY pincode: 10004</p>
            <p style="color: #FFFFFF80;">tel: +1(312)7890000</p>
            <hr>
            <p style="color: #FFFFFF80;">Fast Food Exp &reg; is a ISO CERTIFIED company ISO:901:83484992, no copyright
        </div>
        
       <div class="col-md-5">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Customer Helpline</a></li>
                <li class="nav-item"><a href="#" class="nav-link">FAQ</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Report Fraud</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="fa fa-rss"></a>&nbsp;<a href="#"
                        class="fa fa-facebook"></a>&nbsp;<a href="#" class="fa fa-youtube"></a>&nbsp;
                    <a href="#" class="fa fa-instagram"></a></li>
            </ul>
        </div>
    
</nav>